html {
  font-family: baskerville-urw, serif;
  font-weight: 400;
  font-style: normal;
}

.margin {
  margin: 0 0 0 1em;
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px 14px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #71cdde;
  color: white;
  font-size: 10em;
}

.icon {
  top: auto;
}

h1 {
  font-family: house-script, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0px 0px 10px;
}

h2 {
  font-family: adelle-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
  column-span: all;
}

.img-flex {
  display: block;
  width: 100%;
  max-height: 500px;
  max-width: 400px;
}
.banban {
  display: block;
  width: 100%;
}

.card {
  flex-direction: column;
  align-items: center;
  display: flex;
  background-color: #efefef;
  border: 2px solid #623b0c;
  border-radius: 8px;
}

.text-white {
  color: #fff;
}

.banner {
  overflow: hidden;
  position: relative;
  max-height: 500px;
}

span {
  background-color: rgba(0, 0, 0, 0);
}

.card-body {
  padding-left: 1.5em;
  padding-right: 1.5em;
  width: 100%;
  max-width: 70em;
  position: absolute;
  left: 50%;
  bottom: 1.5rem;
  transform: translateX(-50%);
}

.firstcharacter {
  color: #71cdde;
  float: left;
  font-family: baskerville-urw, serif;
  font-size: 97px;
  line-height: 80px;
  padding-right: 8px;
  padding-left: 3px;
}

.caption {
  background-color: rgba(0, 0, 0, .5);
  max-width: 100%;
}

.subheader {
  font-family: baskerville-urw, serif;
  font-weight: 800;
  font-style: normal;
  margin: 0;
}

p {
  /*text-indent: 28;*/
  margin: 0 0 .4em 0;
}

.serve {
  text-indent: 0px;
}

hr {
width: 6em;
border: solid 3px;
}

footer {
  background-color: #71CDDE;
  height: 100%;
}

.btn-cola {
  cursor: pointer;
  display: inline-block;
  margin: 0;
  overflow: visible;
  padding: .375em .75em .42em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #71cdde;
  border-radius: 4px;
  border: 3px solid #fff;
  color: #000;
  font: inherit;
  text-decoration: none;
  text-transform: none;
}

button:focus,
button:hover,
.btn-cola:focus,
.btn-cola:hover {
  background-color: #333;
  border-color: #fff;
  color: #fff;
